#light{
  background-color: #eaf4fb;
  color:#1a1a2e;
  width:100%;
}
#dark{
  background-color:rgb(37, 37, 82); 
  color:#FDFDFD;
}
.app{
  width:100%;
  min-height: 100vh;
}
.page-container{
  flex:1;
  min-width: 0;
  padding:16px;
  top:10%;
  height:100vh;
  overflow-y: auto;
  
}
